@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    --color-accent-50: #f1daf2;
    --color-accent-100: #ead2ed;
    --color-accent-200: #e5b5ec;
    --color-accent-300: #d090d8;
    --color-accent-400: #bd6bc6;
    --color-accent-500: #a749b1;
    --color-accent-600: #8d009f;
    --color-accent-700: #6e007d;
    --color-accent-800: #5f006b;
    --color-accent-900: #500d5a;
    --color-accent-950: #37103d;
    --color-gray-50: #fcfafc;
    --color-gray-100: #f9f5f9;
    --color-gray-200: #f3eaf4;
    --color-gray-300: #c8beca;
    --color-gray-400: #97849a;
    --color-gray-500: #635166;
    --color-gray-600: #524155;
    --color-gray-700: #423145;
    --color-gray-800: #302032;
    --color-gray-900: #1d151e;
    --color-gray-950: #130d14;

    --animate-slide-right: 1s slide-right ease-out;
    --animate-slide-left: 1s slide-left ease-out;

    @keyframes slide-right {
        0% {
            transform: translateX(-10%);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes slide-left {
        0% {
            transform: translateX(10%);
        }

        100% {
            transform: translateX(0);
        }
    }
}

:root {
    --neon-light-effect:
        drop-shadow(1px 1px 1px var(--color-accent-500))
        drop-shadow(2px 2px 3px var(--color-accent-500))
        drop-shadow(3px 3px 8px var(--color-accent-600));
}

.hero > img {
    filter: var(--neon-light-effect);
}

@media not (prefers-reduced-motion) {
    .hero > img {
        animation: 1s logo-anim forwards;
    }

    @keyframes logo-anim {
        0% {
            transform: scale(1.5);
            filter: drop-shadow(0 0 0 transparent);
        }
    
        100% {
            transform: scale(1);
            filter: var(--neon-light-effect);
        }
    }
}
